<app-basepage
  Title="Blog"
  [Subtitle]="
    mdpath
      ? 'Browsing ' + mdpath
      : 'Get started by looking for interesting posts!'
  "
>
  <span *ngIf="mdpath">
    <markdown [src]="'./assets/posts/' + mdpath + '.md'" emoji></markdown>
  </span>
  <span *ngIf="mdpath === undefined">
    Here are some posts:
    <ul *ngFor="let pname of postService.Posts">
      <li>
        <a mat-raised-button color="accent" [href]="'./blog/' + pname">{{
          pname.toUpperCase()
        }}</a>
      </li>
    </ul>
  </span>
</app-basepage>
